services:
  my-portfolio:
      build:
        context: . 
        target: dev
      ports:
        - "5173:5173"
      volumes:
        - .:/app
        - node_modules:/app/node_modules

volumes:
  node_modules:
